#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: white;

}


.card {
  background: white;
  border: 1px solid black;
  border-radius: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-bottom: 30px;
  visibility: hidden;

  width: 300px;
  height: 450px;

  .description {
    height: 150px;
    border: 1px solid black;
    font-family: "Times New Roman", serif;
    font-size: 14px;
    padding: 5px;


    .cost_class {
      display:flex;
      align-items:center;
      gap: 5px;


      .class {
        flex:1;
        text-align: right;
        font-weight: bold;
        font-style: italic;
      }
    }
  }

  .artwork {
    /* height: 260px; */
    flex:1;
    border: 1px solid black;
    width: 100%;
  }

  .header {
    padding: 3px;
    border: 1px solid black;
    text-align: center;
    width:100%;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    font-weight: bold;
  }
}
